<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= izenburua %></title>
    <script>
        function bezeroaEzabatu(id) {
            let bezeroak = JSON.parse(localStorage.getItem("bezeroak")) || [];
            let bezeroaIndex = bezeroak.findIndex(bezeroa => bezeroa.id == id);

            if (bezeroaIndex !== -1) {
                bezeroak.splice(bezeroaIndex, 1);
                localStorage.setItem("bezeroak", JSON.stringify(bezeroak));
                location.reload(); // Recarga la p치gina para reflejar los cambios
            }
        }

        window.onload = () => {
            let bezeroak = JSON.parse(localStorage.getItem("bezeroak")) || [];
            let ulElement = document.querySelector("ul");

            bezeroak.forEach(bezeroa => {
                let li = document.createElement("li");
                li.innerHTML = `${bezeroa.izena} ${bezeroa.abizena} <a onclick="bezeroaEzabatu('${bezeroa.id}')">[x]</a>`;
                ulElement.appendChild(li);
            });

            document.getElementById("formularioa").onsubmit = (e) => {
                e.preventDefault();

                let izena = document.getElementById("izena").value;
                let abizena = document.getElementById("abizena").value;
                let email = document.getElementById("email").value;
                let id = new Date().getTime();

                let datuakJSON = {
                    "id": id,
                    "izena": izena,
                    "abizena": abizena,
                    "email": email
                };
                bezeroak.push(datuakJSON);
                localStorage.setItem("bezeroak", JSON.stringify(bezeroak));

                location.reload(); // Recarga la p치gina para reflejar los cambios
            };
        }
    </script>
</head>
<body>
    Kaixo EJS txantiloi kudeatzailetik
    <ul>
        <!-- La lista se generar치 din치micamente desde JavaScript -->
    </ul>
    <form action="/bezeroa/new" method="POST" id="formularioa">
        Nombre: <input type="text" name="izena" id="izena" required>
        Abizena: <input type="text" name "abizena" id="abizena" required>
        Email: <input type="email" name="email" id="email" required>
        <input type="submit" value="Bidali">
    </form>
</body>
</html>
